<div class="row">
<div class="col">
<div *ngIf="club">
  <div class="content login-page form login-form">
    <h5 class="card-title">
      {{club.name}}
    </h5>
    <hr />
    <h5 class="card-title">
      <img [src]="club.logo" alt="" style="max-width: 20%" class="img-rounded">
    </h5>
    <hr />
    <div>
      <br>
      <b>Name:</b>
      <br />
      {{club.name}}
      <br />
      <b>Founding year:</b>
      <br />
      {{club.foundingyear}}
      <br />
      <b>Funds:</b>
      <br />
      {{ club.funds }}M
      <br />
      <b>Players</b>
      <br>
      {{ club.players }}
    </div>
    <!-- <button [routerLink]="['/edit', club._id]" routerLinkActive="active" *ngIf="authService.loggedIn()" (click)="onSelect(club)" type="button" class="btn btn-warning mt-2 mr-2">Edit</button>  -->
    <a (click)="cancel()" class="btn btn-primary mt-2 mr-2">Cancel</a>
    <button *ngIf="authService.loggedIn()" (click)="onSelect(club)" (click)="toggleChild()" type="button"
      class="btn btn-warning mt-2 mr-2">Edit</button>
    <button *ngIf="authService.loggedIn()" (click)="deleteClub()" type="button"
      class="btn btn-danger mt-2 mr-2">Delete</button>
  </div>
</div>
</div>
<div class="col">
<app-clubs-edit [club]="selectedClub" [showMePartially]="showVar"></app-clubs-edit>
</div>
</div>