<div *ngIf="showMePartially">
  <div *ngIf="game">
    <h5>Edit game: {{game.clubOne.name | uppercase}} vs {{game.clubTwo.name | uppercase}}</h5>
    <form #gameEditForm="ngForm" name="form" (ngSubmit)="gameEditForm.form.valid && editGame()" novalidate>
      <div class="form-group">
        <b>Date:</b>
        <input type="date" class="form-control" [(ngModel)]="gameNewDate" name="date" #date="ngModel"
          [ngClass]="{'is-invalid': date.invalid && (date.dirty || date.touched)}" required />
        <div *ngIf="date.invalid && date.touched" class="invalid-feedback">
          <div *ngIf="date?.errors.required">A date is required</div>
        </div>
      </div>
      <div class="form-group">
        <b>Location:</b>
        <input type="text" class="form-control" [(ngModel)]="gameNewLocation" name="location" #location="ngModel"
          [ngClass]="{'is-invalid': location.invalid && (location.dirty || location.touched)}" required minlength="4" />
        <div *ngIf="location.invalid && location.touched" class="invalid-feedback">
          <div *ngIf="location?.errors.required">The location is required</div>
          <div *ngIf="location?.errors.minlength">The minimum length is 4 digits.</div>
        </div>
      </div>
      <div class="form-group">
        <b>Starttime:</b>
        <input type="datetime-local" class="form-control" [(ngModel)]="gameNewStartTime" name="startTime"
          #startTime="ngModel" [ngClass]="{'is-invalid': startTime.invalid && (startTime.dirty || startTime.touched)}"
          required />
        <div *ngIf="startTime.invalid && startTime.touched" class="invalid-feedback">
          <div *ngIf="startTime?.errors.required">A startTime is required</div>
        </div>
      </div>
      <div class="form-group">
        <b>Endtime:</b>
        <input type="datetime-local" class="form-control" [(ngModel)]="gameNewEndTime" name="endTime" #endTime="ngModel"
          [ngClass]="{'is-invalid': endTime.invalid && (endTime.dirty || endTime.touched)}" required />
        <div *ngIf="endTime.invalid && endTime.touched" class="invalid-feedback">
          <div *ngIf="endTime?.errors.required">A endtime is required</div>
        </div>
      </div>
      <div class="form-group">
        <b>Home side:</b>
        <select class="custom-select mr-sm-2" id="clubOne" name="clubOne" [(ngModel)]="gameNewClubOne" #clubOne="ngModel"
          required>
          <option selected>Choose...</option>
          <option *ngFor="let club of clubs">
            {{ club._id }}
          </option>
        </select>
        <div *ngIf="clubOne.invalid && clubOne.touched" class="invalid-feedback">
          <div *ngIf="clubOne?.errors.required">An Club is required</div>
        </div>
      </div>

      <div class="form-group">
        <b>Away side:</b>
        <select class="custom-select mr-sm-2" id="clubTwo" name="clubTwo" [(ngModel)]="gameNewClubTwo" #clubTwo="ngModel" required>
          <option selected>Choose...</option>
          <option *ngFor="let club of clubs">
            {{ club._id }}
          </option>
        </select>
        <div *ngIf="clubTwo.invalid && clubTwo.touched" class="invalid-feedback">
          <div *ngIf="clubTwo?.errors.required">An Club is required</div>
        </div>
      </div>
      <div class="form-group float-left">
        <a (click)="cancel()" class="btn btn-primary mr-2">Cancel</a>
        <button type="submit" (ngSubmit)="editGame()" class="btn btn-success float-right"
          [disabled]="!gameEditForm.valid">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
<!-- </div>
</div> -->