<br>
<div class="container">
  <div class="createbutton text-center pb-3">
    <a *ngIf="authService.loggedIn()" routerLink='/player/create' routerLinkActive="active" class="btn btn-dark">Create
      player</a>
  </div>
<div class="row text-center">
    <ul class="pb-3 playerlist" *ngFor="let player of players">
      <li *ngIf="isPopPlayer(player)">
        <h4>{{player.firstname}}</h4>
        <h5 class="card-title">
          <img [src]="player.imageLink" alt="" class="img-rounded imagelogo">
        </h5>
        <a (click)="onSelect(player)" class="btn btn-success">More info</a>
      </li>
    </ul>
  <div class="col-8">
      <app-players-detail [player]="selectedPlayer"></app-players-detail>
    </div>
</div>
</div>