<br>
<div class="container">
    <div class="createbutton text-center pb-3">
      <a *ngIf="authService.loggedIn()" routerLink='/club/create' routerLinkActive="active" class="btn btn-dark">Create
        club</a>
    </div>
  <div class="row">
    <ul class="pb-3 clublist" *ngFor="let club of clubs">
      <li *ngIf="isPopClub(club)">
        <h4>{{club.name}}</h4>
        <h5 class="card-title">
          <img [src]="club.logo" alt="" class="img-rounded imagelogo">
        </h5>
        <a (click)="onSelect(club)" class="btn btn-success">More info</a>
      </li>
    </ul>
    <div class="col-9">
      <app-clubs-detail [club]="selectedClub"></app-clubs-detail>
    </div>
  </div>
</div>